.postcommentimg-setting {
  width: 25px;
}

.menu-containerpostcommentsetting {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postcommentbuttonsetting {
  width: 30px;
  background: rgb(245, 245, 245);
  margin-left: -10px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 3px;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.postcommentbuttonsetting:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.postcommentmenusetting {
  background: #ffffff;
  border-radius: 7px;
  position: absolute;
  top: 40px;
  left: -110px;
  font-size: 15px;
  width: 130px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.postcommentmenusetting.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.postcommentmenusetting .ul-postcommentmenusetting {
  list-style: none;
  padding: 0;
  margin: 0;
}

.postcommentmenusetting .li-postcommentmenusetting {
  border-bottom: 1px solid #dddddd;
}

.postcommentmenusetting .li-postcommentmenusetting .a-postcommentmenusetting {
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  display: block;
}

.postcommentmenusetting
  .li-postcommentmenusetting
  .a-postcommentmenusetting
  .a-postcommentmenusetting1 {
  color: black;
}

.postcommentmenusetting
  .li-postcommentmenusetting
  .a-postcommentmenusetting
  .a-postcommentmenusetting1:hover {
  color: black;
}

.postcommentrow {
  background-color: rgb(245, 245, 245);
  width: 85%;
  display: table;
  margin-left: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 0px;
  border-radius: 15px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.postcomment1 {
  width: 70%;
  margin-top: -10px;
}

.uploadprovepost1 {
  width: 20%;
  margin-top: -150px;
  margin-left: 5px;
}

.imgcomment {
  width: 70%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.imgpreviewpost1 {
  width: 40%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-top: -15px;
  margin-left: 25px;
  margin-right: 10px;
  margin-bottom: 30px;
  height: auto;
}

.commenttextareapost {
  margin-left: 55px;
}

.buttoncommentpostsave1 {
  margin-top: -60px;
  margin-left: 315px;
}

.buttoncommentpostsave2 {
  width: 100%;
  height: 40px;
  font-size: 17px;
  background-color: #5c83cc;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
  text-align: center;
  color: white;
}

.buttoncommentpostsave2:hover {
  width: 100%;
  height: 40px;
  font-size: 17px;
  background-color: #3c6fce;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
  text-align: center;
  color: white;
}

/* .mypostcommentrow2 {
        background-color: tomato;
    } */
