.container-bigpost {
    width: 70%;
    height: 100px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
  }
  
  .column-post-left {
    width: 63%;
    margin-left: 15px;
    height: 2000px;
    background-color: aqua;
  }
  
  .column-post-right {
    width: 34%;
    height: 50px;
    background-color: rgb(255, 0, 128);
  }
  
  .h1-post {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    color: #5c5c5c;
  }
  
  .container-post1 {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
  }
  
  .container-post1:hover {
    width: 90%;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
  }
  
  .monkey {
    width: 80%;
    margin-left: 30px;
  }
  
  .post-linkformpost1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -20px;
    color: black;
  }
  
  .buttonpost {
    width: 20%;
    font-size: 20px;
    background-color: #5c83cc;
    border: none;
    border-radius: 0.5rem;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 0.5rem;
    /* margin-top: 10px;
      margin-left: 50px; */
  }
  
  .buttonpost:hover {
    width: 20%;
    font-size: 20px;
    background-color: #3c6fce;
    border: none;
    border-radius: 0.5rem;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 0.5rem;
    /* margin-top: 10px;
      margin-left: 50px; */
  }
  
  .container-findthief2 {
   width: 90%;
  background-color: white;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
  }
  
  .post-profilepost-img img.img-circle {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
  
  .post-name {
    margin-left: 80px;
    margin-top: -75px;
  }
  
  .post-date {
    margin-left: 60px;
    margin-top: -25px;
    color: grey;
    font-size: 18px;
  }
  
  .post-time {
    margin-left: 20px;
    color: grey;
    
  }
  
  .postbuttonreported {
    margin-top: -65px;
    width: 30px;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px;
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto;
    margin-right: 0px;
    color: grey;
  }
  
  .postbuttonreported:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    color: grey;
    border-radius: 50%;
  }
  
  .container-findthief3 {
    width: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
  }
  
  .spanpost {
    color: #ff392e;
  }
  
  .postother {
    color: blue;
    font-size: 15px;
    margin-right: 35px;
  }
  
  .line-post1 {
    border-bottom: 2px solid rgba(146, 146, 146, 0.3);
    align: center;
    margin-top: 30px;
  }
  
  .container-post6 {
    width: 100%;
    /* background-color: white; */
    border-radius: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    /* box-shadow: 10px 20px 50px rgba(0,0,0,.2); */
  }
  
  .column1-postrow1 {
    width: 30%;
  }
  
  .column2-postrow2 {
    width: 70%;
  }