.h1-helpnew{ 
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    color: #5c5c5c;
}

.h1-helpnew2{ 
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    color: #5c5c5c;
}


.container-helpnew{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 460px;
    font-family: 'Kanit', sans-serif;
}

.container-helpnew2{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 760px;
    font-family: 'Kanit', sans-serif;
}

.card-helpnew{
    width: 260px;
    height: 410px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: white;
}

.title-helpnew{
    font-size: 18px;
}

.titlered-helpnew{
    color: red;
    font-size: 18px;
}
.image-helpnew1{
    padding:  15px 30px 0px 30px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.cardtext-helpnew{
    font-size: 15px;
    color: #5c5c5c;
}

.column-helpnew{
    width: 25%;
    display: block;
    float: left;
}
.show-helpnew2{
    display: block;
    margin-bottom: -8px;
}

.column-helpnew2 {
    width: 33.33%;
    display: block;
    float: left;
}
.text-helpnew{
    color: #5c5c5c;
    font-size: 16px;
}

.emty-help{
    height: 70px;
}

.card-helpnew2 {
    background-color: white;
    width: 330px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    margin-bottom: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 80px;
}

.image-helpnew2{
    background-color: white;
    width: 150px;
    border-radius: 50%;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    margin-left: 115px;
    margin-top: 0px;
    display: block;
    z-index: 1;
    position: absolute;
}

/*Responsive*/ 
@media only screen and (max-width: 1921px) {
    .h1-helpnew{ 
        font-size: 22px;
    }
    .container-helpnew{
        width: 65%;
        height: 370px;
    }
    .card-helpnew{
        width: 230px;
        height: 370px;
    }
    .title-helpnew{
        font-size: 17px;
    }
    .titlered-helpnew{
        font-size: 17px;
    }
    .image-helpnew1{
        width: 230px;
    }
    .cardtext-helpnew{
        font-size: 13px;
    }

    .container-helpnew2{
        width: 65%;
    }
    .text-helpnew{
        color: #5c5c5c;
        font-size: 14px;
    }
    
    .emty-help{
        height: 70px;
    }
    
    .card-helpnew2 {
        width: 300px;
        height: 180px;
    }
    
    .image-helpnew2{
        width: 140px;
        margin-left: 95px;
        margin-top: 5px;
    }
}
@media only screen and (min-width: 1920px) {
    .h1-helpnew{ 
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 25px;
        font-family: 'Kanit', sans-serif;
        color: #5c5c5c;
    }
    
    .h1-helpnew2{ 
        margin-top: 70px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 25px;
        font-family: 'Kanit', sans-serif;
        color: #5c5c5c;
    }
    
    
    .container-helpnew{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        height: 460px;
        font-family: 'Kanit', sans-serif;
    }
    
    .container-helpnew2{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        height: 760px;
        font-family: 'Kanit', sans-serif;
    }
    
    .card-helpnew{
        width: 260px;
        height: 410px;
        box-shadow: 10px 20px 50px rgba(0,0,0,.2);
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        background-color: white;
    }
    
    .title-helpnew{
        font-size: 18px;
    }
    
    .titlered-helpnew{
        color: red;
        font-size: 18px;
    }
    .image-helpnew1{
        padding:  15px 30px 0px 30px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .cardtext-helpnew{
        font-size: 15px;
        color: #5c5c5c;
    }
    
    .column-helpnew{
        width: 25%;
        display: block;
        float: left;
    }
    .show-helpnew2{
        display: block;
        margin-bottom: -8px;
    }
    
    .column-helpnew2 {
        width: 33.33%;
        display: block;
        float: left;
    }
    .text-helpnew{
        color: #5c5c5c;
        font-size: 16px;
    }
    
    .emty-help{
        height: 70px;
    }
    
    .card-helpnew2 {
        background-color: white;
        width: 330px;
        height: 180px;
        border-radius: 10px;
        box-shadow: 10px 20px 50px rgba(0,0,0,.2);
        margin-bottom: 100px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 80px;
    }
    
    .image-helpnew2{
        background-color: white;
        width: 150px;
        border-radius: 50%;
        box-shadow: 10px 20px 50px rgba(0,0,0,.2);
        margin-left: 115px;
        margin-top: 0px;
        display: block;
        z-index: 1;
        position: absolute;
    }
}

@media only screen and (max-width: 1367px) {
    .h1-helpnew{ 
        font-size: 22px;
    }
    .container-helpnew{
        width: 65%;
        height: 330px;
    }
    .textmargin-helpnew{
        margin-left: 0px;
    }
    .card-helpnew{
        width: 210px;
        height: 330px;
    }
    .title-helpnew{
        font-size: 16px;
        width: 180px;
        margin-left: -5px;
    }
    .titlered-helpnew{
        font-size: 16px;
        margin-left: 0px;
    }
    .image-helpnew1{
        width: 200px;
    }
    .cardtext-helpnew{
        font-size: 12px;
    }

    .h1-helpnew2{ 
        margin-top: 80px;
        margin-bottom: 50px;
        font-size: 22px;
    }
    .container-helpnew2{
        width: 65%;
        height: 660px;
    }
    .image-helpnew2{
        width: 130px;
        margin-left: 85px;
        margin-top: 10px;
    }
    .text-helpnew{
        color: #5c5c5c;
        font-size: 14px;
    }
    .emty-help{
        height: 60px;
    }
    .card-helpnew2 {
        width: 270px;
        height: 170px;
        margin-bottom: 60px;
    }

}

@media only screen and (max-width: 1025px) {
    .h1-helpnew{ 
        margin-top: 70px;
        font-size: 22px;
    }
    .container-helpnew{
        width: 80%;
        height: 330px;
    }
    .card-helpnew{
        width: 195px;
        height: 310px;
    }
    .title-helpnew{
        font-size: 15px;
        width: 170px;
        margin-left: -7px;
    }
    .titlered-helpnew{
        font-size: 15px;
    }
    .image-helpnew1{
        width: 180px;
    }
    .cardtext-helpnew{
        font-size: 12px;
        width: 170px;
        margin-left: -8px;
        margin-top: 2px;
    }

    .h1-helpnew2{ 
        margin-top: 60px;
        margin-bottom: 60px;
        font-size: 22px;
    }
    .container-helpnew2{
        width: 80%;
        height: 660px;
    }
    .image-helpnew2{
        width: 130px;
        margin-left: 70px;
        margin-top: 10px;
    }
    .text-helpnew{
        font-size: 13px;
    }
    .emty-help{
        height: 60px;
    }
    .card-helpnew2 {
        width: 255px;
        height: 160px;
        margin-bottom: 60px;
    }

}

@media only screen and (max-width: 769px) {
    .h1-helpnew{ 
        margin-top: 50px;
        font-size: 22px;
    }
    .container-helpnew{
        width: 60%;
        height: 680px;
    }
    .column-helpnew,.column-helpnew2{
        width: 50%;
    }

    .h1-helpnew2{ 
        margin-top: 50px;
        margin-bottom: 40px;
        font-size: 22px;
    }
    .container-helpnew2{
        width: 75%;
        height: 880px;
    }
    .card-helpnew2 {
        width: 265px;
        height: 160px;
        margin-bottom: 40px;
    }
    .image-helpnew2{
        width: 130px;
        margin-left: 80px;
        margin-top: 10px;
    }
}


@media only screen and (max-width: 415px) {
    .container-helpnew{
        width: 90%;
        height: 670px;
    }
    .column-helpnew{
        width: 50%;
    }
    .column-helpnew2{
        width: 100%;
    }

    .h1-helpnew{ 
        margin-top: 50px;
        font-size: 22px;
        margin-bottom: 40px;
    }
    .card-helpnew{
            width: 185px;
            height: 300px;
        
        }

    .cardtext-helpnew{
        font-size: 11px;
        width: 160px;
        margin-left: -8px;
        margin-top: 2px;
    }

    .h1-helpnew2{ 
        margin-top: 50px;
        font-size: 22px;
        margin-bottom: 40px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .container-helpnew2{
        width: 70%;
        height: 1660px;
    }
    .card-helpnew2 {
        width: 265px;
        height: 160px;
        margin-bottom: 40px;
    }
    .image-helpnew2{
        width: 130px;
        margin-left: 78px;
        margin-top: 10px;
    }
    .text-helpnew{
        font-size: 14px;
        width: 240px;
        margin-left: -8px;
    }
    .emty-help{
        height: 60px;
    }
}

@media only screen and (max-width: 376px) {
    .container-helpnew{
        width: 90%;
        height: 1400px;
    }
    .column-helpnew , .column-helpnew2{
        width: 100%;
    }
    .h1-helpnew{ 
        margin-top: 50px;
        font-size: 20px;
        margin-bottom: 40px;
    }
    .card-helpnew{
        width: 245px;
        height: 320px;
    }
    .title-helpnew{
        font-size: 16px;
        width: 200px;
        margin-left: 0px;
    }
    .titlered-helpnew{
        font-size: 16px;
    }
    .cardtext-helpnew{
        font-size: 13px;
        width: 200px;
        margin-left: 0px;
        margin-top: 2px;
    }

    .h1-helpnew2{ 
        margin-top: 50px;
        font-size: 20px;
        margin-bottom: 40px;
    }
    .container-helpnew2{
        width: 70%;
        height: 1660px;
    }
    .card-helpnew2 {
        width: 265px;
        height: 150px;
        margin-bottom: 40px;
    }
    .image-helpnew2{
        width: 120px;
        margin-left: 71px;
        margin-top: 15px;
    }
    .text-helpnew{
        font-size: 14px;
        width: 240px;
        margin-left: -8px;
    }
    .emty-help{
        height: 50px;
    }
}

@media only screen and (max-width: 321px) {
    .container-helpnew{
        width: 80%;
        height: 1400px;
    }
    .card-helpnew{
        width: 225px;
        height: 320px;
    }
    .title-helpnew{
        font-size: 16px;
        width: 185px;
        margin-left: 0px;
    }
    .titlered-helpnew{
        font-size: 16px;
    }
    .cardtext-helpnew{
        font-size: 13px;
        width: 185px;
        margin-left: 0px;
        margin-top: 2px;
    }

    .h1-helpnew2{ 
        margin-top: 50px;
        font-size: 20px;
        margin-bottom: 40px;
    }
    .container-helpnew2{
        width: 60%;
        height: 1660px;
    }
    .card-helpnew2 {
        width: 245px;
        height: 150px;
        margin-bottom: 40px;
        margin-left: -28px;
    }
    .image-helpnew2{
        width: 120px;
        margin-left: 34px;
        margin-top: 15px;
    }
    .text-helpnew{
        font-size: 13px;
        width: 230px;
        margin-left: -13px;
    }
    .emty-help{
        height: 50px;
    }

}